<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SimpleCRUD</title>
	<link rel="stylesheet" href="style.css"">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

	<h1 class="title">Cadastre-se</h1>

	<div class="form-container">
		<form action="" class="form-register">
			<div class="register-name">
				<label>Nome:
					<input type="text" name="name" class="input-name" autocomplete="on">
				</label>
			</div>
			
			<div class="register-email">
				<label>Email:
					<input type="email" name="email" class="input-email" autocomplete="on">
				</label>
			</div>
	
			<div class="register-birth">
				<label>Data de nascimento:
					<input type="date" name="birthDate" class="input-birthDate" autocomplete="on">
				</label>
			</div>
		</form>
		<input class="btn-register" type="submit" value="Cadastrar" onclick="register()">
	</div>

	<div class="table-container">
	</div>

	<script src="modules/read.js"	></script>
	<script src="modules/add.js"	></script>
	<script src="modules/update.js"	></script>
	<script src="modules/delete.js"	></script>
</body>
</html>